<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>goodbye</h1>
    <a href="/">back</a>
    <div>
        <table>
            <tr>
                <th>
                    <td>name</td>
                    <td>disignation</td>
                </th>
            </tr>
            <tr>
                <td>Einstein</td>
                <td>Theoretical physics</td>
            </tr>
        </table>
    </div>
</body>
</html>